.tech {

}

.tech-title {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoRegular;
    font-size: 40px;
    text-transform: uppercase;
}

.tech-body {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoRegular;
    font-size: 20px;
}
.tech-info-left, .tech-info-center, .tech-info-right {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
    font-family: RobotoRegular;
    font-size: 18px;
  }

  .title-front-end {
    text-align: start;
    padding-left: 50px;
  }

  .title-back-end {
    text-align: center;
  }

  .title-data {
    text-align: end;
    padding-right: 50px;
  }

  .project-seperator {
    display: flex;
    justify-content: center;
  }

  .projects-subtitle {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoRegular;
    font-size: 25px;
    text-transform: uppercase;
}

.text-body__ourSllack {
    margin: 20px 0px;
  }