.intro {

}

.intro-title {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoRegular;
    font-size: 40px;
    text-transform: uppercase;
}

.intro-body {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoRegular;
    font-size: 20px;
}